.gallery{
  min-height: 85vh;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  .carousal_paxi_margin{
    margin-top: 5px;
    width: 100vw;
  }
  .small_img_gallery{
    width: 100px;
     height: 100px;
    
  }
    .small_img_gallery_remaining{
        width: 100%;
        height: 100%;
        margin-left:auto;
      }
}

.titleFont{
  font-family: Sansita;
}

.contentFont{
  font-family: Ubuntu;
}



