.container {
  background-image: url('../img/top-background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.product-feature{
    float: right;
}
.description{
    background-color: #107139;
    border-radius: 36px;
}
.description h2{
    padding: 10px 20px;
}
.description p{
    padding: 0px 20px 10px 20px;
}
.properties{
    background-color: #107139;
    border-radius: 36px;
}
.properties-list{
    float: right;
}
.circle-1{
    border-radius: 50%;
    height: 200px;
    width:200px;
    background-color: red;
}
.circle-2{
    border-radius: 50%;
    height: 189px;
    width:189px;
    background-color: green;
    position: relative;
    top: 9px;
    left: 10px;
}

@media only screen and (max-width: 768px){
  .main-inner-container{
    padding: 10px;
  }

  .upper-container{
    width: 100%;
  }

  .upper-left-container{
    width: 100%;
  }

  .upper-left-container img{
    margin: auto;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }

  .upper-right-container{
    width: 100%;
    text-align: center;
  }

  .lower-container{
    width: 100%;
  }

  .lower-left-container{
    width: 100%;
  }

  /*.lower-left-container h2{
    text-align: center;
  } */

  .lower-right-container{
    width: 100%;

  }

}