body{
  width: 100%;
}
.container-fluid{
  background-image: url("../img/top.png");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center fixed;
}

.main-inner-container{
  padding: 20px;
  color: #006633;
  font-family: Arial, Helvetica, sans-serif;
}

.upper-left-container{
  float: left;
  width: 300px;
  margin:200px;
}
.product-image{
  width: 400px;
  height:400px;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  position: relative;
}

.upper-right-container{
  float: right;
  width: 400px;
  margin-top: 150px;
  text-align: right;
  margin-right: 20px;
}

.upper-right-container h1 {
  font-size: 50pt;
}

.upper-right-container li {
  font-size: 12pt;
  list-style: none;
  line-height: 12pt;
}

.lower-container{
  margin-top: 132px;
}

.lower-left-container {
  float: left;
  width: 550px;
  height: 222px;
  padding: 10px;
  margin-top: 60px;
  margin-left: 155px;
  border-radius: 20px;
  background-color: rgba(102, 204, 51, 0.3);
}

.lower-left-container h2 {
  font-size: 25pt ;

}

.lower-left-container p {
  font-size: 12pt;
  line-height: 13pt;
}

.lower-right-container {
  width: 550px;
  float: right;
  padding: 10px;
  text-align: right;
  margin-right: 20px;
  border-radius: 20px;
  background-color: rgba(102, 204, 51, 0.3);
}

.lower-right-container h2 {
  font-size: 15pt bold;
}

.lower-right-container li {
  font-size: 13pt;
  list-style: none;
  line-height: 13.5pt;
}


@media screen and (max-width: 1024px){
    .lower-left-container{
      width : 320px;
    }
    .lower-right-container{
      width: 471px;
    }
}

@media screen and (max-width: 425px){
  .container-fluid{
    background: url("../img/productPageImage/background-image425.png") no-repeat;
    width: 100%;
    background-size: 100%
  }
  .lower-left-container{
    width : 320px;
  }
  .lower-right-container{
    width: 471px;
  }
}






